* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('../images/desktop/9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

/* ❤️ Heart button */
.heart-container {
    position: absolute;
    bottom:-90px;
    left: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart {
    width: 130px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.heart:hover {
    transform: scale(1.15);
}

.container iframe {
  position: absolute;
  top: -270px;
  left: -300px;
}
